{% extends "trotteurs/skeleton.html" %}
{% load i18n %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'trotteurs/css/skeleton.css' %}" rel="stylesheet" />
<style>

#panel{
  padding: 0 20%;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#panel .content {
  position: relative;
  border: 7px solid transparent;
  border-radius: 20px;
  padding: 5% 5%;
  background: #f9f7f0;
  background-clip: padding-box;
  box-shadow: 0 3px 9px black, inset 0 0 9px white;
}

#panel .content::after {
  position: absolute;
  top: -7px;
  bottom: -7px;
  left: -7px;
  right: -7px;
  background: url('/static/trotteurs/img/bg-post.jpg');
  content: '';
  z-index: -1;
  border-radius: 20px;
}

#panel .content img {
 position: absolute;
 top: 10px;
 right: 10px;
 width: 170px;
 height: 143;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  width: 40%;
}
#id_subject{
  background-color: transparent;
  border: none;
  width: 75%;
  border-bottom: 1px solid #CCC;
  margin-top: 20px;
  margin-bottom: 30px;
}

textarea {
  width: 75%;
  resize: none;
}

</style>
{% endblock %}

{% block content %}
<div class="container">

<h1>{% trans "Contact" %}</h1>
<div id="panel">
  <div class="content">
    <img src={% static "trotteurs/img/timbre.png" %}>
    <form role="form" action="" method="post">
      {% csrf_token %}
      {% if user.is_authenticated %}
        <p><input type="text" name="contact_name" required id="id_contact_name" value="{{ user.username }}" placeholder='{% trans "name" %}'/></p>
        <p><input type="email" name="contact_email" required id="id_contact_email" value="{{ user.email }}" placeholder='{% trans "email" %}'/></p>
      {% else %}
        <p><input type="text" name="contact_name" required id="id_contact_name" placeholder='{% trans "name" %}'/></p>
        <p><input type="email" name="contact_email" required id="id_contact_email" placeholder='{% trans "email" %}'/></p>
      {% endif %}
      <p><input type="text" name="subject" required id="id_subject" placeholder='{% trans "subject" %}'/></p>
      <div id="divScroll" class="scroll">
        <textarea name="message" required rows="10" id="id_message"  placeholder='{% trans "message" %}'></textarea>
      </div>
      <input type="submit" value='{% trans "Send" %}' class="btn btn-primary"/>
    </form>
  </div>
</div>
</div>
{% endblock %}
