{% extends "trotteurs/skeleton.html" %}
{% load i18n %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'trotteurs/css/contact.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "Contact" %}</h1>
        <div id="panel">
            <div class="content">
                <img class="hidden-xs" src={% static "trotteurs/img/timbre.png" %}>
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <p><input type="text" name="contact_name" required id="id_contact_name" value="{{ user.username }}" placeholder='{% trans "name" %}'/></p>
                        <p><input type="email" name="contact_email" required id="id_contact_email" value="{{ user.email }}" placeholder='{% trans "email" %}'/></p>
                    {% else %}
                        <p><input type="text" name="contact_name" required id="id_contact_name" placeholder='{% trans "name" %}'/></p>
                        <p><input type="email" name="contact_email" required id="id_contact_email" placeholder='{% trans "email" %}'/></p>
                    {% endif %}
                    <p><input type="text" name="subject" required id="id_subject" placeholder='{% trans "subject" %}'/></p>
                    <div id="divScroll" class="scroll">
                        <textarea name="message" required rows="10" id="id_message"  placeholder='{% trans "message" %}'></textarea>
                    </div>
                    <input type="submit" value='{% trans "Send" %}' class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
