{% extends "trotteurs/skeleton.html" %}
{% load i18n %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'trotteurs/css/home.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container" id="home-container">
        <h1>{% trans "Departure in" %}</h1>
        <div id="count">
            <div class="countdown" id="js-countdown">

                <div class="countdown__item countdown__item--large">
                    <div class="countdown__timer js-countdown-days" aria-labelledby="day-countdown"></div>
                    <div class="countdown__label" id="day-countdown">{% trans "Days" %}</div>
                </div>

                <div class="countdown__item">
                    <div class="countdown__timer js-countdown-hours" aria-labelledby="hour-countdown"></div>
                    <div class="countdown__label" id="hour-countdown">{% trans "Hours" %}</div>
                </div>

                <div class="countdown__item">
                    <div class="countdown__timer js-countdown-minutes" aria-labelledby="minute-countdown"></div>
                    <div class="countdown__label" id="minute-countdown">{% trans "Minutes" %}</div>
                </div>

                <div class="countdown__item">
                    <div class="countdown__timer js-countdown-seconds" aria-labelledby="second-countdown"></div>
                    <div class="countdown__label" id="second-countdown">{% trans "Seconds" %}</div>
                </div>

            </div>
        </div>
    </div>

    <script src="{% static 'trotteurs/js/countdown.js' %}"></script>

{% endblock %}
