{% extends "trotteurs/skeleton.html" %}
{% load i18n %}
{% load static %}

{% block css %}
{{ block.super }}

<style>
#home{

}

.align_center { align-items:center; }

#home h1{
    text-align: center;
}

#home-img{
    /* margin-right: 50px;
    vertical-align: middle;*/
    margin-bottom: 0.75em;
    max-width:60%;
    float: right;
}
#home-text p {
    /* width: 50%; */
    /* margin-left: auto;
    margin-right: auto; */
    display: inline-block;
        vertical-align: middle;
        float: none;
    font-size: 20px;
    text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
</style>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="home">
            <h1>{% trans "Welcome to trotteurs" %}</h1>
            <div class="col-md-3 vcenter">
                <img src={% static "trotteurs/img/vignette.png" %} alt="Trotteurs" id="home-img">
            </div><!--
            --><div class="col-md-9 vcenter" id="home-text">
                <p>
                    Nous sommes Amandine et Adrien.<br/>
                    Nous avons créé ce site pour partager avec vous nos aventures ainsi que nos photos.<br/>
                    Bonne lecture !
                </p>
            </div>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="active item">
              <img src={% static "trotteurs/img/montevideo1.jpg" %} alt="...">
            </div>
            <div class="item">
              <img src={% static "trotteurs/img/montevideo2.jpg" %} alt="...">
            </div>
            <div class="item">
              <img src={% static "trotteurs/img/montevideo3.jpg" %} alt="...">
            </div>
        </div>
    </div>
</div>

{% endblock %}
