{% if archive %}
    <!-- If only one year, we display only the months -->
    {% if archive|length == 1 %}
        <div class="btn-group-vertical btn-block">
            {% for y, months in archive %}
                {% for m in months %}
                    <a href="{% url 'blog:article_month_archive' y.year m.month %}" class="btn btn-default">{{ m|date:"F" }}</a>
                {% endfor %}
            {% endfor %}
        </div>
    <!-- Else, display years and months -->
    {% else %}
        {% for y, months in archive %}
            <button class="accordion">{{ y.year }}</button>
            <div class="panel">
                <div class="btn-group-vertical btn-block">
                    {% for m in months %}
                        <a href="{% url 'blog:article_month_archive' y.year m.month %}" class="btn btn-default">{{ m|date:"F" }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}
