{% extends "blog/skeleton.html" %}
{% load i18n %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block blog_content %}

    <!-- Blog Post -->
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <!-- Title -->
    <h1>{{ article.title }}</h1>

    <hr>

    <!-- Date/Time -->
    <p>
        <span class="glyphicon glyphicon-time"></span> {% trans "Posted on" %} {{ article.date }}
        {% include "blog/tag_list.html" with tags=article.tags.all %}
    </p>

    <hr>

    <!-- Preview Image -->
    {% if article.image %}
        <img src="{{ article.image.url }}" style="max-width:100%; height:auto; display:block;"/>
    {% endif %}

    <hr>

    <!-- Post Content -->
    {% if article.abstract %}
        <p class="lead">{{ article.abstract }}</p>
    {% endif %}
    {% autoescape off %}{{ article.text }}{% endautoescape %}

    <!-- Comment -->
    <div id="comment">
        <p class='lead'>{% trans "Comments" %}</p>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form }}
            <br/>
            <input type='submit' value='{% trans "Post comment" %}' class='btn btn-default'>
        </form>
        <hr/>
        {% for comment in comments %}
        <blockquote>
            <p>{{ comment.content }}</p>
            <footer>{% trans "via" %} {{ comment.user.username }} |
                {% blocktrans with comment.timestamp|timesince as timesince %}{{ timesince }} ago{% endblocktrans %} |
                <a class='comment-reply-btn' href='#'>{% trans "Reply" %}</a>
                {% if user == comment.user %}
                    | <a href="{% url 'blog:delete_comment' article.slug comment.pk %}" role="button" onclick="return confirm({% blocktrans %}'Are you sure you want to delete this comment?\nIf it has answers, they will be deleted as well.'{% endblocktrans %});">{% trans "Delete my comment" %}</a>
                {% endif %}
                {% if request.user.is_superuser %}
                    | <a href="{% url 'blog:delete_comment' article.slug comment.pk %}" role="button" onclick="return confirm({% blocktrans %}'Are you sure you want to delete this comment?\nIf it has answers, they will be deleted as well.'{% endblocktrans %});">{% trans "Delete comment" %}</a>
                {% endif %}
            </footer>
            <div class='comment-reply' style='display:none;'>
                <form method="post" action=".">
                    {% csrf_token %}
                    <br/>
                    {{ form }}
                    <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                    <br/>
                    <input type='submit' value='reply' class='btn btn-default'>
                </form>
            </div>
            {% for child_comment in comment.children %}
                <blockquote>
                    <p>{{ child_comment.content }}</p>
                    <footer>{% trans "via" %} {{ child_comment.user.username }} |
                        {% blocktrans with child_comment.timestamp|timesince as timesince %}{{ timesince }} ago{% endblocktrans %}
                        {% if user == comment.user %}
                            | <a href="{% url 'blog:delete_comment' article.slug child_comment.pk %}" role="button" onclick="return confirm({% blocktrans %}'Are you sure you want to delete this comment?'{% endblocktrans %});">{% trans "Delete my comment" %}</a>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            | <a href="{% url 'blog:delete_comment' article.slug child_comment.pk %}" role="button" onclick="return confirm({% blocktrans %}'Are you sure you want to delete this comment?'{% endblocktrans %});">{% trans "Delete comment" %}</a>
                        {% endif %}
                    </footer>
                </blockquote>
            {% endfor %}
        </blockquote>
        <hr/>
        {% endfor %}
    </div>

    <script>
        $(".comment-reply-btn").click(function(event){
            event.preventDefault();
            $(this).parent().next(".comment-reply").fadeToggle();
        })
    </script>

{% endblock %}


{% block blog_sidebar %}
    {% include "blog/sidebar.html" with tags=tags_list archive=archive %}
{% endblock %}
