{% extends "blog/skeleton.html" %}
{% load i18n %}

{% block blog_content %}

    <!-- Blog Post -->
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <!-- Title -->
    <h1>{{ article.title }}</h1>

    <hr>

    <!-- Date/Time -->
    <p>
      <span class="glyphicon glyphicon-time"></span>{% trans "Posted on" %} {{ article.date }}
      {% include "blog/tag_list.html" with tags=article.tags.all %}
    </p>

    <hr>

    <!-- Preview Image -->
    {% if article.image %}
        <img src="{{ article.image.url }}" style="max-width:100%; height:auto; display:block;"/>
    {% endif %}

    <hr>

    <!-- Post Content -->
    {% if article.abstract %}
        <p class="lead">{{ article.abstract }}</p>
    {% endif %}
    {% autoescape off %}{{ article.text }}{% endautoescape %}
    <hr>

{% endblock %}


{% block blog_sidebar %}
    {% include "blog/sidebar.html" with tags=tags_list archive=archive %}
{% endblock %}
