{% extends "blog/skeleton.html" %}

{% block blog_content %}
    {% if latest_article_list %}
        {% for article in latest_article_list %}
            <h2>
                <a href="{% url 'blog:detail' article.slug %}">{{ article.title }}</a>
            </h2>
            <p>
              <span class="glyphicon glyphicon-time"></span> Posté le {{ article.date }}
              {% include "blog/tag_list.html" with tags=article.tags.all %}
            </p>

            <hr>

            {% if article.image %}
                <img class="img-responsive" src="{{ article.image.url }}" style="height:300px; width:900px" alt="">
            {% endif %}
            {% if article.abstract %}
                <p>{{ article.abstract }}</p>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'blog:detail' article.slug %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>
        {% endfor %}
    {% else %}
        <p>No article are available.</p>
    {% endif %}

{% endblock %}

{% block blog_sidebar %}
    {% include "blog/sidebar.html" with tags=tags_list archive=archive %}
{% endblock %}
