{% extends "trotteurs/skeleton.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'blog/css/blog_skeleton.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <!-- Blog content -->
            <div class="col-md-8" id="page">
                {% block blog_content %}
                {% endblock %}
            </div>

            <!-- Blog sidebar -->
            <div class="col-md-4" style="padding-top:70px;">
                {% block sidebar %}
                    {% include "blog/sidebar.html" %}
                {% endblock %}
            </div>

        </div>
    </div>
{% endblock %}
