{% extends "gallery/skeleton.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'gallery/css/photo-grid.css' %}" rel="stylesheet" />
    <link href="{% static 'gallery/css/album-list.css' %}" rel="stylesheet" />
{% endblock %}


{% block gallery_content %}
    <div class="container">
        <div class="container-fluid">
            <h1>{{ city.name }}</h1>
            <hr>
            {% for album in album_list %}
            <div class="post">
                <figure class="album-effect">
                    <a href={% url 'gallery:album_photo_grid' album.slug  %} >
                        <img src="{{ album.image.url }}" alt="{{ album.title }}"/>
                    </a>
                    <figcaption>
                        <h2><a href={% url 'gallery:album_photo_grid' album.slug  %} >{{ album.title }}</a></h2>
                        {% if album.description %}
                            <p><a href={% url 'gallery:album_photo_grid' album.slug  %} >{{ album.description }}</a></p>
                        {% endif %}
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
