{% extends "gallery/skeleton.html" %}
{% load staticfiles %}
{% load l10n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://openlayers.org/en/v4.4.2/css/ol.css" type="text/css">
    <link href="{% static 'gallery/css/map.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList"></script>
    <script src="https://openlayers.org/en/v4.4.2/build/ol.js" type="text/javascript"></script>


{% endblock %}

{% block gallery_content %}
    <div class="container-fluid">
        <div class="row">
            <!-- map -->
            <div id="map" class="hidden-xs">
                <!-- menu button -->
                <div id="menu3Bar" onclick="barFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <!-- navigation sidebar -->
                <div id="sidenav">
                    {% for country in country_list %}
                        <button class="accordion">{{ country.name}}</button>
                        <div class="panel">
                            <div class="btn-group-vertical btn-block">
                                {% for city in country.city_set.all %}
                                    <div id="citiesButton">
                                        <a href={% url 'gallery:album_list' city.slug %} class="btn btn-default">{{ city.name }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'gallery/js/map.js' %}"></script>
    <script>
        (function(){

            var urlMap = []
            {% for country in country_list %}
                {% for city in country.city_set.all %}
                    var slug = '{{ city.slug }}'.replace('-', '')
                    urlMap[slug] = '{% url "gallery:album_list" city.slug %}';
                {% endfor %}
            {% endfor %}


            function computeFeatureStyle(feature, style) {
                // Style of the point of the cities
                if (style=='init'){
                    return new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 5,
                            fill: new ol.style.Stroke({color: 'rgba(134,56,23,1)'})
                        })
                    });
                }

                // Style of the point of the cities when hover
                else if (style=='hover') {
                    return new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 5,
                            fill: new ol.style.Stroke({color: 'rgba(97,41,19,1)'})
                        }),
                        text: new ol.style.Text({
                            text: feature.get('name'),
                            offsetX: 50,
                            font: "16px Helvetica"
                        })
                    });
                }

                // Style of the point of the cities when click
                else if (style=='click') {
                    return new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 5,
                            fill: new ol.style.Stroke({color: 'rgba(255,255,255,1)'})
                        })
                    });
                }
            }

            var vectorSource = new ol.source.Vector({
                //create empty vector
            });

            // Display the differents cities where we took pictures
            {% localize off %}
                {% for country in country_list %}
                    {% for city in country.city_set.all %}
                        var feature = new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.transform([{{ city.longitude }}, {{ city.latitude }}], 'EPSG:4326',   'EPSG:3857')),
                            name: '{{ city.name }}',
                            slug: '{{ city.slug }}'.replace('-', '')
                        });

                        style = computeFeatureStyle(feature, 'init');
                        feature.setStyle(style);
                        vectorSource.addFeature(feature);
                    {% endfor %}
                {% endfor %}
            {% endlocalize %}

            var layer = new ol.layer.Vector({
                source: vectorSource
            })

            // Creation of the map
            var map = new ol.Map({
                target: 'map',
                layers: [
                    // The template of the map
                    new ol.layer.Tile({
                        // source: new ol.source.OSM()
                        source: new ol.source.Stamen({
                            layer: 'watercolor'
                        })
                    }),
                    // add the feature vector to the layer vector
                    layer,
                ],
                // Map center on central america
                view: new ol.View({
                    center: ol.proj.fromLonLat([-60, -20]),
                    zoom: 3
                }),
                // Scroll with mouse wheel deactivate
                interactions: ol.interaction.defaults({mouseWheelZoom:false})
            });
            map.addControl(new ol.control.ZoomSlider());

            //////////////////
            // Hover effect //
            //////////////////

            //set a global reference to loop only if needed
            clickFeature=null;
            var hovered = false;

            map.on('pointermove', function(evt) {
                if (evt.dragging) return;

                var feature = map.forEachFeatureAtPixel(evt.pixel, function(ft, l){
                    return ft;
                });

                if(feature){
                    if(feature === clickFeature) return;
                    hovered = true;
                    style = computeFeatureStyle(feature, 'hover')
                    feature.setStyle(style);
                    removeStyleFromOthersFeatures(feature);
                } else{
                    removeStyleFromAllFeatures();
                }
            });

            function removeStyleFromAllFeatures(){
                //continue only if needed
                if(!hovered && typeof clickFeature!=='undefined') return;

                layer.getSource().getFeatures().forEach(function(feature){
                    if(feature === clickFeature) return;
                    style = computeFeatureStyle(feature, 'init')
                    feature.setStyle(style);
                });
                hovered = false;
            }

            function removeStyleFromOthersFeatures(feature){
                layer.getSource().getFeatures().forEach(function(ft){
                    //don't remove from the current hovering
                    if(ft === feature || ft === clickFeature) return;
                    style = computeFeatureStyle(ft, 'init')
                    ft.setStyle(style);
                });
            }

            //////////////////
            // Click effect //
            //////////////////
            map.on('click', function(evt) {

                clickFeature = map.forEachFeatureAtPixel(evt.pixel, function(ft, l){
                    return ft;
                });

                removeStyleFromAllFeatures();

                if(typeof clickFeature !=='undefined'){
                    style = computeFeatureStyle(clickFeature, 'click')
                    clickFeature.setStyle(style);
                    window.location.href = urlMap[clickFeature.get('slug')];
                } else{
                    removeStyleFromAllFeatures();
                }
            });

            // change mouse cursor when over marker
            var target = map.getTarget();
            var jTarget = typeof target === "string" ? $("#" + target) : $(target);
            $(map.getViewport()).on('mousemove', function (e) {
                var pixel = map.getEventPixel(e.originalEvent);
                var hit = map.forEachFeatureAtPixel(pixel, function (feature, layer) {
                    return true;
                });
                if (hit) {
                    jTarget.css("cursor", "pointer");
                } else {
                    jTarget.css("cursor", "");
                }
            });

        })();
    </script>

{% endblock %}
