{% extends "trotteurs/skeleton.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
  {{ block.super }}
  <style>
  /* main page */
  #page {
    background-color:white;
    /* offset left, top, thickness, color with alpha */
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    padding:50px;
    margin-right: 50px;
    margin-left: 50px;
  }
  form{
    padding-left: 50px;
    padding-right: 50px;
  }
  </style>
  {% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
  <div id="page">

    <h1>{% trans "Change password" %}</h1>
    <hr>

        <form action="" method="post">
          {% csrf_token %}
          <p>{% trans "Please enter your old password." %}</p>
          {{ form.old_password.errors }}
          <label for="id_old_password">Ancien mot de passe :</label>
          <input type="password" name="old_password" autofocus required id="id_old_password" />

          <hr>

          <p>{% trans "Please enter (and confirm) your new password." %}</p>
          {{ form.new_password1.errors }}
          <label for="id_new_password1">{% trans "New password" %}</label>
          <input type="password" name="new_password1" required id="id_new_password1" />
          <br/>
          {{ form.new_password2.errors }}
          <label for="id_new_password2">{% trans "Confirm the password" %}</label>
          <input type="password" name="new_password2" required id="id_new_password2" />
          <br/>
          <input type="submit" class="btn btn-primary pull-right" value='{% trans "Change my password" %}' />

        </form>
    </div>
  </div>

{% endblock %}
