{% extends "trotteurs/skeleton.html" %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
<link href="{% static 'trotteurs/css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}

<div class="login-page">
  <div id="wrapper">
    <form class="login-form">

      <h1>Log in</h1>
      <p>
        <label for="username" class="uname" >{{ form.username.label_tag }}</label>
        <input id="username" name="username" required="required" type="username" placeholder="email"/>
      </p>
      <p>
        <label for="password" class="youpasswd">{{ form.password.label_tag }}</label>
        <input id="password" name="password" required="required" type="password" placeholder="mot de passe" />
      </p>
      <p>
        <input type="submit" value="Login" class="btn btn-primary"/>
      </p>
      <p class="reset_password">
        mot de passe oublié ?
        <a href="{% url 'auth_password_reset' %}">Reset it</a>
      </p>
      <p class="change_link">
        Pas encore membre ?
        <a href="{% url 'registration_register' %}">Rejoignez nous</a>
      </p>

    </form>
  </div>
</div>
</form>
</div>
{% endblock %}
