{% extends "trotteurs/skeleton.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link href="{% static 'trotteurs/css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="login-page">
      <div id="wrapper">
        <form class="login-form">

          <h1>Log in</h1>
          {% if form.errors %}
            <p class="error_message"><span>&#8226;</span> {% trans "Incorrect username or password." %}</p>
          {% endif %}

          <p>
            <label>{% trans "Email address:" %}</label>
            <input id="username" name="username" required="required" type="username" placeholder="{% trans "email address" %}"/>
          </p>
          <p>
            <label>{% trans "Password:" %}</label>
            <input id="password" name="password" required="required" type="password" placeholder="{% trans "password" %}" />
          </p>
          <p>
            <input type="submit" value="Login" class="btn btn-primary"/>
          </p>
          <p class="reset_password">
            {% trans "Forgot your password ?" %}
            <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>
          </p>
          <p class="change_link">
            {% trans "Not yet a member ?" %}
            <a href="{% url 'registration_register' %}">{% trans "Join us !" %}</a>
          </p>

        </form>
      </div>
    </div>
  </form>
</div>
{% endblock %}
