{% extends "trotteurs/skeleton.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'trotteurs/css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container" id="page">
<form action="" method="post">
  {% csrf_token %}
  <h1>{% trans "Reset password" %}</h1>
  <p>{% trans "Enter the email address associated with your account and we'll send you instructions to reset your password" %}</p>
  {% if form.email.errors %} {{ form.email.errors }} {% endif %}
  <input type="email" name="email" maxlength="254" required id="id_email" placeholder="email"/>
  <br/>
  <input type="submit" class="btn btn-primary btn-lg" value='{% trans "Reset" %}' />

</form>
</div>
{% endblock %}
