{% extends "trotteurs/skeleton.html" %}


{% load staticfiles %}

{% block css %}
{{ block.super }}
<link href="{% static 'trotteurs/css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<form method="post" action=".#toregister">
  {% csrf_token %}

  <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
  <a class="hiddenanchor" id="toregister"></a>
  <div id="wrapper">
    <div id="register" class="animate form">
      <form  action="mysuperscript.php" autocomplete="on">
        <h1> Sign up </h1>
        <p>
          <label for="id_email">{{ form.email.label_tag }}</label>
          <input id="id_email" name="email" type="email" required placeholder="email"/>
          {{ form.email.errors}}
        </p>

        <p>
          <label for="id_password1">{{ form.password1.label_tag }}</label>
          <input id="id_password1" name="password1" type="password" required placeholder="mot de passe"/>
          {{ form.password1.errors}}
        </p>

        <p>
          <label for="id_password2">{{ form.password2.label_tag }}</label>
          <input id="id_password2" name="password2" type="password" required placeholder="mot de passe"/>
          {{ form.password2.errors}}
        </p>

        <p class="signup button">
          <input type="submit" value="Sign up" class="btn btn-primary"/>
        </p>
        <p class="change_link">
          Déjà menbre
          <a href="{% url 'login' %}#tologin" class="to_register">Se connecter</a>
        </p>
      </form>
    </div>

  </div>
</form>

{% endblock %}
