{% extends "trotteurs/skeleton.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'trotteurs/css/login.css' %}" rel="stylesheet" />
  <style>
  .helptext{
    display: none;
  }
  th {
    display: block;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <form action="" method="post">
      {% csrf_token %}
      <div class="login-page">
        <div id="wrapper">
          <h1>{% trans "Register" context "Title" %}</h1>
          <p>
            <small class="form-text text-muted">
            {% blocktrans %} We do not require you to fill in this information,
            however we would love to know more about our visitors. {% endblocktrans %}
            </small>
          </p>

          {{ wizard.management_form }}
          {{ wizard.form.non_field_errors }}

          <label for="id_1-first_name">{% trans "First name" %}</label>
          {{ form.first_name }}

          <label for="id_1-last_name">{% trans "Last name" %}</label>
          {{ form.last_name }}

          <label for="id_1-country">{% trans "Country" %}</label>
          {{ form.country }}

          <div id="check">
          <label class="checkbox_label" for="id_1-newsletter">
          <input type="checkbox" name="1-newsletter" id="id_1-newsletter" /><span>{% trans "Register to the newsletter" %}</span></label>
          </div>

          {% if wizard.steps.next %}
          <p>
            <input type="submit" value='{% trans "Next" %}' class="btn btn-primary"/>
          </p>
          {% else %}
          <p>
            <input type="submit" value='{% trans "Register" %}' class="btn btn-primary"/>
          </p>
          {% endif %}

          <p class="change_link">
            {% trans "Already a member ?" %}
            <a href="{% url 'login' %}">{% trans "Log in" %}</a>
          </p>
        </div>
      </div>
    </form>
  </div>

  <script>
    $('input,textarea,select').filter('[required]:visible').parent().parent().find("label").addClass("required_label");
  </script>
{% endblock %}
