{% extends "trotteurs/skeleton.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'trotteurs/css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="container">
    <form method="post" action="{% url 'registration_register' %}">
      {% csrf_token %}

      <div class="login-page">
        <div id="wrapper">
          <form class="login-form">
            <h1>Register</h1>

            {% for field in form %}
              <div class="fieldWrapper"}>
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
              </div>
            {% endfor %}
            
            <p>
              <input type="submit" value="Register" class="btn btn-primary"/>
            </p>
            <p class="change_link">
              {% trans "Already a member ?" %}
              <a href="{% url 'login' %}">{% trans "Log in" %}</a>
            </p>

          </form>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
